<div id="container">
   <div id="contentVideo">
   		<div id="paper" class="zooming"></div>
        <div id="anim1" class="fromlefts"></div>
        <div id="anim2" class="fromrights"></div>
        <div id="anim3" class="fromrights2"></div>
        <h3 id="anim4" class="fromtops">NEXT</h3>
        <h3 id="anim5" class="frombigs">BRAND</h3>
        <h3 id="anim6" class="fromtops2">AMBASSADOR?</h3>
        
        <div id="btnAct" class="tadas">
            <a href="http://www.bc-sba.com/home/decidenow?sourceid=marlboro" class="decideNow decideNow_red">&nbsp;</a>
        </div>
   </div><!-- end #content -->
</div><!-- end #container -->